.container{
    position: relative;
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.title{
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    white-space: pre;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.display{
    margin: 2rem 0;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    box-shadow: 5px 5px 0px 0px black;
    border: 2px solid black;
}

.direction{
    position: relative;
    width: 100%;
    text-align: center;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue;
    color: white;
}

.amount{
    font-size: 4rem;
    font-family: monospace;
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.placeholder{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info{
    position: relative;
    width: 90%;
}

.steps{
    position: relative;
    width: 100%;
}

.steps table{
    width: 100%;
    border: 1px solid black;
}

.steps table > tbody > th{
    width: 100%;
    border: 1px solid black;
}

.steps table > tbody > th > td{
    text-align: center;
    border: 1px solid black;
}

.steps table > tbody > tr{
    border: 1px solid black;
}

.steps table > tbody > tr > td{
    border: 1px solid black;
    width: 50%;
    text-align: center;
    padding: 0.25rem;
}