.container{
    position: absolute;
    width: 2rem;
    aspect-ratio: 1/1;
    background: black;
    border: 2px solid red;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    z-index: 100;
    color: white;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    user-select: none;
    transform: translate(-50%, -50%);
}