.optionSelect{
    margin: 0 0 2rem 0;
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-gap: 1rem;
    padding: 0;
}

.optionButton{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
    aspect-ratio: 21/10;
    background: blue;
    border: none;
    outline: none;
    font-size: 2rem;
    color: white;
}

.item{
    position: relative;
    width: 100%;
    border: 1px solid black;
    padding: 0.25rem;
    margin: 0 0 2rem 0;
    box-shadow: 5px 5px 0px 0px black;
    background: #f4d8a8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

.wrapper{
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: 3rem;
    position: relative;
    flex-direction: row;
}

.input {
    position: relative;
    padding: 0;
    border: 0;
    outline: 0;
    text-indent: 1rem;
    font-size: 2rem;
    width: 0;
    height: 100%;
    margin: 0 1rem 0 0;
    flex-grow: 1;
    font-family: monospace;
}

.validate{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
    height: 100%;
    aspect-ratio: 21/10;
    border: none;
    outline: none;
    font-size: 2rem;
    color: white;
}

.valid{
    background: green;
}

.check{
    background: blue;
}

.error{
    background: red;
}

.title{
    position: relative;
    width: 90%;
    margin: 0;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: "Arial";
}

.title:hover{
    cursor: pointer;
}

.itemGrid{
    position: relative;
    width: 100%;
    border: 1px solid black;
    margin: 0 0 2rem 0;
    box-shadow: 5px 5px 0px 0px black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #f4d8a8; 
    user-select: none;
}

.itemGridInner{
    position: relative;
    width: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 1rem;
}

.imageContainer{
    position: relative;
    border: 2px solid black;
    width: 100%;
    aspect-ratio: 1/1.5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

.imageContainer:hover{
    cursor:pointer;
}

.image{
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing:border-box;
    
}

.name{
    position: relative;
    width: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-family: "Arial";
    flex-grow: 1;
}

