.veil{
    position: fixed;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 300;
}

.modal{
    position: relative;
    width: 90%;
    height: 95%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    flex-wrap: wrap;
}

@media screen and (orientation:landscape) {
    .veil {
        height: 100vh;
        aspect-ratio: 14/21;
    }
}

@media screen and (orientation: portrait) {
    .veil {
        width: 100vw;
        height: 100vh;
    }
}

.close{
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    outline: none;
    background: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 2rem;
    aspect-ratio: 1/1;
}

.optionSelect{
    margin: 3rem 0 1rem 0;
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-gap: 1rem;
    padding: 0;
}

.optionSelect button{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
    aspect-ratio: 21/10;
    background: blue;
    border: none;
    outline: none;
}



.content{
    width: 90%;
    height: calc(90% - 4rem);
    padding: 0 1rem 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.contentInputs{
    width: 90%;
    height: calc(90% - 4rem);
    padding: 0 1rem 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.item{
    position: relative;
    width: 100%;
    border: 1px solid black;
    padding: 0.25rem;
    margin: 0 0 2rem 0;
    box-shadow: 5px 5px 0px 0px black;
}

.item select{
    width: 100%;
    border-radius: 0;
    outline: 0;
    border: 0;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    text-indent: 0.5rem;
}

.item input {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    text-indent: 1rem;
    font-size: 2rem;
}

.title{
    position: relative;
    margin: 0;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: "Arial";
}
.itemGrid{
    position: relative;
    width: 100%;
    border: 1px solid black;
    padding: 0.25rem;
    margin: 0 0 2rem 0;
    box-shadow: 5px 5px 0px 0px black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.itemGridInner{
    position: relative;
    width: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 1rem;
}

.targetImage, .weaponImage{
    position: relative;
    aspect-ratio: 1/1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing:border-box;
    border: 2px solid black;
}

.targetName, .weaponName{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.7);
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-family: "Arial";
}

