.buttonRow{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    outline: none;
    background: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 4rem;
    aspect-ratio: 2/1;
}

.close{
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    outline: none;
    background: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 2rem;
    aspect-ratio: 1/1;
}

.content{
    position: relative;
    width: 100%;
    height: calc(90% - 4rem);
    padding: 0 1rem 2rem 1rem;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.title{
    margin: 0;
}

