.links{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 1rem;
    margin: 0 0 1rem 0;
}

.links a{
    aspect-ratio: 2/1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid black;
    box-shadow: 5px 5px 0px 0px black;
    color: black;
}

.links a:active{
    transform: translate(2px, 2px);
    box-shadow: 3px 2px 0px 0px black;
}

.copy {
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem 0 0 0;
}