.wrapper{
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform-origin: left top;
    overflow: hidden;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    aspect-ratio: 1/1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform-origin: top left;
    transform: translate(-50%, -50%);
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1/1;
    background: transparent;
    z-index: 200;
    
}